<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=window">
         <menu
               id="scanMenu"
               label="Scan">
            <command
                  commandId="com.subgraph.vega.ui.scanner.startnewscan"
                  label="Start New Scan"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.subgraph.vega.perspectives.scanner">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.subgraph.vega.toolbars.main">
            <command
                  commandId="com.subgraph.vega.ui.scanner.startnewscan"
                  icon="icons/wand.png"
                  label="Start New Scan"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.subgraph.vega.perspectives.scanner">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.subgraph.vega.ui.scanner.stopscan"
                  icon="icons/stop_16x16.png"
                  label="Stop Scanner"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.subgraph.vega.perspectives.scanner">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.subgraph.vega.ui.scanner.startnewscan"
            name="Start New Scan">
      </command>
      <command
            id="com.subgraph.vega.ui.scanner.stopscan"
            name="Stop Scanner">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.subgraph.vega.views.category.scanner"
            class="com.subgraph.vega.ui.scanner.info.ScanInfoView"
            icon="icons/info_view.png"
            id="com.subgraph.vega.views.scaninfo"
            name="Scan Info"
            restorable="true">
      </view>
      <view
            category="com.subgraph.vega.views.category.scanner"
            class="com.subgraph.vega.ui.scanner.alerts.ScanAlertView"
            icon="icons/alert_view.png"
            id="com.subgraph.vega.views.alert"
            name="Scan Alerts"
            restorable="true">
      </view>
      <category
            id="com.subgraph.vega.views.category.scanner"
            name="Scanner">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.subgraph.vega.ui.scanner.ScannerPerspectiveFactory"
            icon="icons/scanner.png"
            id="com.subgraph.vega.perspectives.scanner"
            name="Scanner">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.subgraph.vega.ui.scanner.commands.StopScannerHandler"
            commandId="com.subgraph.vega.ui.scanner.stopscan">
         <enabledWhen>
            <with
                  variable="vega.scannerState">
               <equals
                     value="running">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.subgraph.vega.ui.scanner.commands.StartNewScanHandler"
            commandId="com.subgraph.vega.ui.scanner.startnewscan">
         <enabledWhen>
            <with
                  variable="vega.scannerState">
               <equals
                     value="idle">
               </equals>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="com.subgraph.vega.ui.scanner.commands.ScannerStateSourceProvider">
         <variable
               name="vega.scannerState"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.subgraph.vega.perspectives.scanner">
         <view
               id="com.subgraph.vega.views.http"
               minimized="false"
               ratio="0.6"
               relationship="fast">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.subgraph.vega.ui.scanner.preferences.ScannerDebugPreferenceInitializer">
      </initializer>
      <initializer
            class="com.subgraph.vega.ui.scanner.preferences.ScannerOptionsPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.subgraph.vega.preferences.scanoptions"
            class="com.subgraph.vega.ui.scanner.preferences.ScannerDebugPreferencePage"
            id="com.subgraph.vega.preferences.scandebug"
            name="Debug">
      </page>
      <page
            class="com.subgraph.vega.ui.scanner.preferences.ScannerOptionsPreferencePage"
            id="com.subgraph.vega.preferences.scanoptions"
            name="Scanner">
      </page>
   </extension>

</plugin>
