<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="scanMenu"
               label="Scan">
            <command
                  commandId="com.subgraph.vega.ui.scanner.startnewscan"
                  label="Start New Scan"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.subgraph.vega.ui.scanner.commands.StartNewScanHandler"
            id="com.subgraph.vega.ui.scanner.startnewscan"
            name="Start New Scan">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.subgraph.vega.views.category.scanner"
            class="com.subgraph.vega.ui.scanner.info.ScanInfoView"
            icon="icons/info_view.png"
            id="com.subgraph.vega.views.scaninfo"
            name="Scan Info"
            restorable="true">
      </view>
      <view
            category="com.subgraph.vega.views.category.scanner"
            class="com.subgraph.vega.ui.scanner.alerts.ScanAlertView"
            icon="icons/alert_view.gif"
            id="com.subgraph.vega.views.alert"
            name="Scan Alerts"
            restorable="true">
      </view>
      <category
            id="com.subgraph.vega.views.category.scanner"
            name="Scanner">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.subgraph.vega.ui.scanner.ScannerPerspectiveFactory"
            id="com.subgraph.vega.perspectives.scanner"
            name="Scanner">
      </perspective>
   </extension>

</plugin>
