<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.subgraph.vega.ui.macros.macrosview.MacrosView"
            icon="icons/macros.png"
            id="com.subgraph.vega.views.macros.macros"
            name="Macros"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Create a Macro"
            id="com.subgraph.vega.commands.createMacro"
            name="Create Macro">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.subgraph.vega.ui.macros.commands.CreateMacro"
            commandId="com.subgraph.vega.commands.createMacro">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.subgraph.vega.views.macros.macros">
         <command
               commandId="com.subgraph.vega.commands.createMacro"
               icon="icons/create_macro.png"
               label="Create Macro"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
