<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.subgraph.vega.ui.web.views.WebsiteView"
            icon="icons/websites.png"
            id="com.subgraph.vega.views.website"
            name="Website View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.subgraph.vega.ui.command.scanFrom"
            name="Scan From">
      </command>
      <command
            id="com.subgraph.vega.ui.command.hideUnvisited"
            name="Hide Unvisited Sites">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.subgraph.vega.views.website">
         <command
               commandId="com.subgraph.vega.ui.command.scanFrom"
               icon="icons/start_crawling2.png"
               label="Scan from selected path"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.subgraph.vega.views.website">
         <command
               commandId="com.subgraph.vega.ui.command.hideUnvisited"
               icon="icons/hide_unvisited.png"
               label="Hide Unvisited Sites"
               style="toggle"
               tooltip="Hide unvisited websites and paths">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="oneElementSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.subgraph.vega.ui.web.commands.ScanFromHandler"
            commandId="com.subgraph.vega.ui.command.scanFrom">
         <activeWhen>
            <reference
                  definitionId="oneElementSelected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="com.subgraph.vega.ui.web.commands.HideUnvisitedHandler"
            commandId="com.subgraph.vega.ui.command.hideUnvisited">
      </handler>
   </extension>

</plugin>
