<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.subgraph.vega.ui.http.requestviewer.HttpRequestView"
            icon="icons/requestview.png"
            id="com.subgraph.vega.views.http"
            name="Requests"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.subgraph.vega.ui.http.intercept.InterceptView"
            icon="icons/intercept.png"
            id="com.subgraph.vega.views.intercept"
            name="Intercept"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.subgraph.vega.ui.http.intercept.queue.InterceptQueueView"
            icon="icons/interceptQueue_view.png"
            id="com.subgraph.vega.views.intercept.queue"
            name="Intercept Queue"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.subgraph.vega.ui.http.requesteditviewer.RequestEditView"
            icon="icons/requestEdit.png"
            id="com.subgraph.vega.views.requestEdit"
            name="Request Editor"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.subgraph.vega.ui.http.commands.StartProxyHandler"
            commandId="com.subgraph.vega.commands.startProxy">
         <enabledWhen>
            <with
                  variable="vega.proxyState">
               <equals
                     value="disabled">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.subgraph.vega.ui.http.commands.StopProxyHandler"
            commandId="com.subgraph.vega.commands.stopProxy">
         <enabledWhen>
            <with
                  variable="vega.proxyState">
               <equals
                     value="enabled">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.subgraph.vega.ui.http.commands.SendRequest"
            commandId="com.subgraph.vega.commands.sendRequest">
      </handler>
      <handler
            class="com.subgraph.vega.ui.http.commands.OpenRequestViewFilter"
            commandId="com.subgraph.vega.commands.openRequestFilter">
      </handler>
      <handler
            class="com.subgraph.vega.ui.http.commands.ResetRequestFilter"
            commandId="com.subgraph.vega.commands.resetRequestFilter">
      </handler>
      <handler
            class="com.subgraph.vega.ui.http.commands.ConfigureProxyModules"
            commandId="com.subgraph.vega.commands.proxyConfigureModules">
      </handler>
      <handler
            class="com.subgraph.vega.ui.http.commands.ForwardTransaction"
            commandId="com.subgraph.vega.commands.popup.forwardTransaction">
      </handler>
      <handler
            class="com.subgraph.vega.ui.http.commands.DropTransaction"
            commandId="com.subgraph.vega.commands.popup.dropTransaction">
      </handler>
      <handler
            class="com.subgraph.vega.ui.http.commands.ProxyPassthrough"
            commandId="com.subgraph.vega.commands.proxyPassthrough">
      </handler>
      <handler
            class="com.subgraph.vega.ui.http.commands.ReplayRequest"
            commandId="com.subgraph.vega.commands.popup.replayRequest">
      </handler>
      <handler
            class="com.subgraph.vega.ui.http.commands.TagEdit"
            commandId="com.subgraph.vega.commands.popup.tagEdit">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands for controlling the HTTP proxy"
            id="com.subgraph.vega.commands.proxyCategory"
            name="Proxy Commands">
      </category>
      <command
            categoryId="com.subgraph.vega.commands.proxyCategory"
            description="Start the HTTP Proxy"
            id="com.subgraph.vega.commands.startProxy"
            name="Start HTTP Proxy">
      </command>
      <command
            categoryId="com.subgraph.vega.commands.proxyCategory"
            description="Stop the HTTP Proxy"
            id="com.subgraph.vega.commands.stopProxy"
            name="Stop HTTP Proxy">
      </command>
      <command
            categoryId="com.subgraph.vega.commands.proxyCategory"
            description="Configure Proxy Response Processing Modules"
            id="com.subgraph.vega.commands.proxyConfigureModules"
            name="Configure Proxy Response Processing Modules">
      </command>
      <command
            categoryId="com.subgraph.vega.commands.proxyCategory"
            id="com.subgraph.vega.commands.proxyPassthrough"
            name="Toggle HTTP proxy passthrough">
      </command>
      <category
            id="com.subgraph.vega.commands.httpRequestViewPopupCategory"
            name="HTTP Request View Popup">
      </category>
      <command
            categoryId="com.subgraph.vega.commands.httpRequestViewPopupCategory"
            id="com.subgraph.vega.commands.popup.replayRequest"
            name="Replay Request">
      </command>
      <command
            categoryId="com.subgraph.vega.commands.httpRequestViewPopupCategory"
            id="com.subgraph.vega.commands.popup.tagEdit"
            name="Edit Tags">
      </command>
      <category
            description="Commands for controlling the request editor"
            id="com.subgraph.vega.commands.requestEditorCategory"
            name="Request Editor Commands">
      </category>
      <command
            categoryId="com.subgraph.vega.commands.requestEditorCategory"
            description="Send the HTTP Request"
            id="com.subgraph.vega.commands.sendRequest"
            name="Send Request">
      </command>
      <command
            id="com.subgraph.vega.commands.openRequestFilter"
            name="Open Request View Filters">
      </command>
      <command
            id="com.subgraph.vega.commands.resetRequestFilter"
            name="Reset Request View Filter">
      </command>
      <category
            id="com.subgraph.vega.commands.interceptQueueViewPopupCategory"
            name="Interception Queue View Popup">
      </category>
      <command
            category="com.subgraph.vega.commands.interceptQueueViewPopupCategory"
            id="com.subgraph.vega.commands.popup.forwardTransaction"
            name="Forward pending transaction">
      </command>
      <command
            category="com.subgraph.vega.commands.interceptQueueViewPopupCategory"
            id="com.subgraph.vega.commands.popup.dropTransaction"
            name="Drop pending transaction">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.subgraph.vega.toolbars.main">
            <command
                  commandId="com.subgraph.vega.commands.startProxy"
                  icon="icons/start_16x16.png"
                  style="push"
                  tooltip="Start HTTP Proxy">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.subgraph.vega.perspectives.proxy">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.subgraph.vega.commands.stopProxy"
                  icon="icons/stop_16x16.png"
                  style="push"
                  tooltip="Stop HTTP Proxy">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.subgraph.vega.perspectives.proxy">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.subgraph.vega.commands.proxyConfigureModules"
                  icon="icons/configure.png"
                  style="push"
                  tooltip="Configure which response processing modules are run on proxy traffic">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.subgraph.vega.perspectives.proxy">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.subgraph.vega.commands.proxyPassthrough"
                  icon="icons/passthrough.png"
                  style="toggle"
                  tooltip="Make proxy forward all transactions without processing or interception">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.subgraph.vega.perspectives.proxy">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.subgraph.vega.ui.http.requestviewer.HttpRequestView.requestView">
         <command
               commandId="com.subgraph.vega.commands.popup.replayRequest"
               label="Replay Request"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <count
                        value="+">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.subgraph.vega.commands.popup.tagEdit"
               label="Edit Tags"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <count
                        value="+">
                  </count>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.subgraph.vega.views.requestEdit">
         <command
               commandId="com.subgraph.vega.commands.sendRequest"
               icon="icons/start_16x16.png"
               label="Send Request"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.subgraph.vega.views.http">
         <command
               commandId="com.subgraph.vega.commands.openRequestFilter"
               icon="icons/filter.gif"
               id="openfilter"
               label="Open Request Filter"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.subgraph.vega.views.http?before=openfilter">
         <command
               commandId="com.subgraph.vega.commands.resetRequestFilter"
               icon="icons/reset_filter.png"
               label="Reset Request Filter"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.subgraph.vega.ui.http.intercept.queue.InterceptQueueView.tableViewerTransactions">
         <command
               commandId="com.subgraph.vega.commands.popup.forwardTransaction"
               label="Forward Transaction"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <count
                        value="+">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.subgraph.vega.commands.popup.dropTransaction"
               label="Drop Transaction"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <count
                        value="+">
                  </count>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
    
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="com.subgraph.vega.ui.http.commands.ProxyStateSourceProvider">
         <variable
               name="vega.proxyState"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.subgraph.vega.ui.http.preferencepage.HttpPreferencePage"
            id="com.subgraph.vega.ui.http.preferences.proxy"
            name="Proxy">
      </page>
      <page
            category="com.subgraph.vega.ui.http.preferences.proxy"
            class="com.subgraph.vega.ui.http.preferencepage.ProxyListenerPreferencePage"
            id="com.subgraph.vega.ui.http.preferences.proxyListener"
            name="Listener">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.subgraph.vega.ui.http.preferencepage.HttpPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.subgraph.vega.internal.ui.http.ProxyPerspectiveFactory"
            icon="icons/proxy.png"
            id="com.subgraph.vega.perspectives.proxy"
            name="Proxy">
      </perspective>
   </extension>

</plugin>
