<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.subgraph.vega.application.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.subgraph.vega.application.application"
            name="Subgraph Vega">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/vega-icon-100x100.png">
         </property>
         <property
               name="appName"
               value="Subgraph Vega">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.subgraph.vega.commands.category.workspaces"
            name="Workspaces">
      </category>
      <command
            categoryId="com.subgraph.vega.commands.category.workspaces"
            id="com.subgraph.vega.commands.newWorkspace"
            name="New Workspace">
      </command>
      <command
            categoryId="com.subgraph.vega.commands.category.workspaces"
            id="com.subgraph.vega.commands.switchWorkspace"
            name="Switch Workspace">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.subgraph.vega.application.workspaces.NewWorkspaceHandler"
            commandId="com.subgraph.vega.commands.newWorkspace">
      </handler>
      <handler
            class="com.subgraph.vega.application.workspaces.SwitchWorkspaceHandler"
            commandId="com.subgraph.vega.commands.switchWorkspace">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               ratio="0.5"
               relationship="fast">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
